{
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "insertPragma": false,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^./config$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
