<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-4.0.xsd"
>
    <beans:import resource="../WEB-INF/mvc-dispatcher-servlet.xml"/>

    <http pattern="/api/authenticate" auto-config="false" use-expressions="true"
          entry-point-ref="restAuthenticationEntryPoint">
        <intercept-url pattern="*" access="isAnonymous()"/>
    </http>

    <http pattern="/api/register" auto-config="false" use-expressions="true"
          entry-point-ref="restAuthenticationEntryPoint">
        <intercept-url pattern="*" access="isAnonymous()"/>
    </http>

    <http pattern="/api/events/sport" auto-config="false" use-expressions="true"
          entry-point-ref="restAuthenticationEntryPoint">
        <intercept-url pattern="*" access="isAnonymous()"/>
    </http>

    <http pattern="/api/**" auto-config="false" entry-point-ref="restAuthenticationEntryPoint"
          create-session="stateless" use-expressions="true">
        <custom-filter ref="tokenAuthenticationFilter2" position="FORM_LOGIN_FILTER"/>
        <intercept-url pattern="/api/customer/**/" access="hasRole('ROLE_ADMIN')"/>
        <access-denied-handler ref="restAccessDeniedHandler"/>
    </http>

    <authentication-manager>
        <authentication-provider ref="jwtAuthenticationProvider"/>
    </authentication-manager>
</beans:beans>